body {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

.angular-google-map, .container, .angular-google-map-container {
  height: 100%;
}

#place-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 180px;
  right: 0;
}

#searchTerm {
  position: absolute;
  top: 0px;
  font-size: 13px;
}

#place-list {
  background: #fff;
  position: absolute;
  left: 0px;
  top: 30px;
  bottom: 0px;
  width: 180px;
  font-size: 12px;
  overflow-y: scroll;
}

.place h3 {
  font-weight: normal;
  font-size: 14px;
  padding: 4px 8px;
  margin: 0;
}

.place h4 {
  font-weight: normal;
  font-size: 13px;
  padding: 4px 8px;
  margin: 0;
}

.place {
  border-bottom: 1px solid #555;
}

.place.selected {
  background: rgba(255, 219, 148, 0.8);
}
